<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="landing-content" aria-label="Content">
      <div class="wrapper">

      <h1 class="title">root@paranoids:~$ 
          <span class="typewrite" data-period="2000" data-type='[ "********", "about_us" ]'>
           <span class="wrap"></span>
          </span>
        </h1>
        
        <hr>
       
           <h1 class="title">root@paranoids:~$</h1> <h2 id="blink1">&#9632;</h2>
        
          <hr>  
        
        <div class="about">
          
          {{ content }}

        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
