---
layout: default
---
<div class="blog-menu">
  
  <div class="blog-menu_link">
    <a href="{{"https://www.open.tube/accounts/paranoids.info@open.tube/video-channels" target=_blank>
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 576 512"><path id="video" d="M543.9 96c-6.2 0-12.5 1.8-18.2 5.7L416 170.1v-58.3c0-26.4-23.2-47.8-51.8-47.8H51.8C23.2 64 0 85.4 0 111.8v288.4C0 426.6 23.2 448 51.8 448h312.4c28.6 0 51.8-21.4 51.8-47.8v-58.3l109.7 68.3c5.7 4 12.1 5.7 18.2 5.7 16.6 0 32.1-13 32.1-31.5V127.5C576 109 560.5 96 543.9 96zM368 200v198.9c-.6.4-1.8 1.1-3.8 1.1H51.8c-2 0-3.2-.6-3.8-1.1V113.1c.6-.4 1.8-1.1 3.8-1.1h312.4c2 0 3.2.6 3.8 1.1V200zm160 155.2l-112-69.8v-58.7l112-69.8v198.3z"/></svg>
    <span class="blog-menu_text"><b>Наш видеоканал на OpenTube</b></span>
    </a>
  </div>
    
</div>

<hr>
<div class="blog">
  
  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>                     
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if site.preview_posts %}
        <p>
          {{ post.content | strip_html | truncatewords:25 }}
        </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
 
  {% if paginator.total_pages != 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">
          <span>
           <
          </span>
        </a>
      {% else %}
        <span class="previous disabled">
      
          x
  
        </span>
      {% endif %}
      <span class="page-number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">
          <span>            
          >
          </span>
        </a>
      {% else %}
        <span class="next disabled">
       
          x  
         
        </span>
      {% endif %}
    </div>
  {% endif %}

<hr>

  <h2>Навигация по темам</h2>
  
  <div class="tags">
  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 640 512"><path path id="tags" fill="#828282" d="M625.941 293.823L421.823 497.941c-18.746 18.746-49.138 18.745-67.882 0l-.36-.36L592 259.882 331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882zm-128 0L293.823 497.941C284.451 507.314 272.166 512 259.882 512c-12.284 0-24.569-4.686-33.941-14.059L14.059 286.059A48 48 0 0 1 0 252.118V48C0 21.49 21.49 0 48 0h204.118a47.998 47.998 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882zM464 259.882L252.118 48H48v204.118l211.886 211.878L464 259.882zM144 96c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>
  {% for tag_obj in site.tags %}
    {% assign tag = tag_obj | first %}
    {% assign count = site.tags[tag].size %}
    <a href="{{site.baseurl}}/tag/{{ tag }}">
      <span class="tag">{{ tag }}{% if count != 1 %}<span class="tag-count">({{ count }})</span>{% endif %}</span></a>
  {% endfor %}
</div>
  
</div>
