<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="landing-content" id="contact-content" aria-label="Content">
      <div class="wrapper">
        <div class="contact">
          <div id="s9zEQBRa" data-formid="rD1575619311SBf" class="_Forms_generate"></div>
          {{ content }}
          {% include contact-icons.html %}

        </div>
      </div>
    </main>

    {% include footer.html %}


  </body>

</html>
