<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
    <main class="landing-content_index" aria-label="Content">
      <div class="wrapper">
        
        <img src="/images/pyr_logo.gif">
        
        <hr>
       
        <div class="about">
          
<p>
  lorem lorem olerem
</p>
          <p>
  lorem lorem olerem
</p>
          <p>
  lorem lorem olerem
</p>
          <p>
  lorem lorem olerem
</p>
          
         <h2>Перейти на сайт</h2>
        </div>
      </div>
    </main>
    {% include footer.html %}

  </body>
  
</html>
