---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
          <h1 class="title">:~$ 
          <span class="typewrite" data-period="2000" data-type='[ "********", "about us",
          "о нас", "acerca de nosotros", "********", "********", "********", "********", "********", "********", "********"]'>
            <span class="wrap"></span>
          </span>
        </h1>
  <div class="post-content">
    {{ content }}
  </div>

</article>
